body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

table {
	font-size: 10px;
}

thead {
	color: red;
	font-weight: 12px;
}

TD.bottoni INPUT {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ea001f;
	background : transparent;
	cursor: pointer;
	border: none;
}

.button_border {
	border-bottom: 1px thin solid #e2e2e2;
	border-right: 1px thin solid #e2e2e2;
	border-left: 1px thin solid #f8f8f8;
	background-color: #f8f8f8;
}

.textbox input {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.textbox select {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.table_border {
	border-bottom: 1px thin solid #e2e2e2;
	border-right: 1px thin solid #e2e2e2;
	border-left: 1px thin solid #f8f8f8;
	background-color: #f8f8f8;
}

.list_row_0 {
	background-color: #f1f1f1;
	color: #ea001f;
}

.list_row_1 {
	background-color: #f1f1f1;
}

.list_row_2 {
	background-color: gray;
	color: white;
}

.list_row_3 {
	background-color: navy;
	color: white;
}

.footer {
	text-align:center;
	font-size:9px;
	color:#999999;
	padding-top: 6px;
	padding-bottom:4px;
}

.msg_text {
	padding: 3px;
	border: 1px gray solid;
	background-color: #f1f1f1;
	font-size: 12px;
}

.navigationBack a {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	color: black;
	font-size: 10px;
	font-weight: normal;
	white-space:nowrap;
	text-decoration: none;
	font-weight: bold;
}
.navigationBack a:hover {
	color: red;
}


/* Index Table*/
.outputText, .outputTextBold, .outputTextHigh,
.outputTextLigth, .title_bg_red, .outputMsg {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: left;
}
.outputText2 {
	font-family: Verdana;
    font-size: 10px;
	text-align: left;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}
.outputTextRight {
	text-align: right;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
}
.panelGrid {
	text-align: left;
	vertical-align: top;
	border: 0px none;
	margin: 0px;
	padding: 0px;
	padding-left: 2px;
	margin-top: 4px;
}
.round_table, .round_top, .round_topLeft, .round_topRight,
.round_bottom, .round_bottomLeft, .round_bottomRight {
	margin: 0px;
	padding: 0px;
	font-size: 6px;
}
/* *** */

.keyboard {
	cursor: pointer;
	border:1px solid #560000;
}
.barra {
	cursor:move;
	background-color: #FFFFFF;
	color:#FFFFFF;
	text-align: right;
}
.white_link {
	color:#FFFFFF;
}
