<!--header.start-->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="./favicon.ico" type="image/x-icon">
		<title>${page_title}</title>
		${page_css}
		<!-- Bootstrap core JavaScript
	    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		${page_js}
	</head>
	<body>
<!--header.end-->
<!--footer.start-->
	</body>
</html>
<!--footer.end-->
