<!--header.start-->
<div class="form-group row">
	<label class="col-form-label col-sm-2" for="${radiogroup_name}">${radiogroup_label}</label>
	<div class="input-group col-sm-10" id="${radiogroup_name}" name="${radiogroup_name}">
<!--header.end-->
<!--body.start-->
<!--body.end-->
<!--footer.start-->
	</div>
</div>
<!--footer.end-->


<!--old.header.start-->
<div class="form-group row">
	<label class="col-form-label col-sm-2" for="${radiogroup_name}">${radiogroup_label}</label>
	<div class="btn-group col-sm-10" id="${radiogroup_name}" name="${radiogroup_name}" data-toggle="buttons">
<!--old.header.end-->
