<?xml version="1.0" encoding="UTF-8"?>
<!-- USI web xml descriptor -->
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp">
	<display-name>XA-XAS-PF</display-name>
	<servlet>
		<servlet-name>LoggerInitializeServlet</servlet-name>
		<display-name>LoggerInitializeServlet</display-name>
		<servlet-class>it.usi.xframe.system.pfutil.LoggerInitializeServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>it.usi.xframe.system.pfutil.ActionDecoratorServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>validate</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>RichInfoServlet</servlet-name>
		<display-name>RichInfoServlet</display-name>
		<servlet-class>it.usi.xframe.xas.pfstruts.servlet.RichInfoServlet</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>RichInfo61Servlet</servlet-name>
		<display-name>RichInfo61Servlet</display-name>
		<servlet-class>it.usi.xframe.xas.pfstruts.servlet.RichInfo61Servlet</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Sms</servlet-name>
		<display-name>Sms</display-name>
		<servlet-class>it.usi.xframe.xas.servlet.Sms</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>index</servlet-name>
		<display-name>index</display-name>
		<jsp-file>/sms/index.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>Test</servlet-name>
		<display-name>Test</display-name>
		<servlet-class>it.usi.xframe.xas.servlet.Test</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EMail</servlet-name>
		<display-name>EMail</display-name>
		<servlet-class>it.usi.xframe.xas.servlet.EMail</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>validate</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>VodafonePopSmsDeliver</servlet-name>
		<display-name>VodafonePopSmsDeliver</display-name>
		<description></description>
		<servlet-class>it.usi.xframe.xas.servlet.VodafonePopSmsDeliver</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SmsInternational</servlet-name>
		<display-name>SmsInternational</display-name>
		<description></description>
		<servlet-class>it.usi.xframe.xas.servlet.SmsInternational</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EnqueueSms</servlet-name>
		<display-name>EnqueueSms</display-name>
		<description></description>
		<servlet-class>it.usi.xframe.xas.servlet.EnqueueSms</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Console</servlet-name>
		<display-name>Console</display-name>
		<description></description>
		<servlet-class>it.usi.xframe.xas.servlet.Console</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RichInfoServlet</servlet-name>
		<url-pattern>/richInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RichInfo61Servlet</servlet-name>
		<url-pattern>/richInfo61</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Sms</servlet-name>
		<url-pattern>/sms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EMail</servlet-name>
		<url-pattern>/email</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VodafonePopSmsDeliver</servlet-name>
		<url-pattern>/VodafonePopSmsDeliver</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SmsInternational</servlet-name>
		<url-pattern>/smsinternational</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EnqueueSms</servlet-name>
		<url-pattern>/EnqueueSms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Console</servlet-name>
		<url-pattern>/console</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<taglib>
		<taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
		<taglib-location>/WEB-INF/c.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://java.sun.com/jstl/core_rt</taglib-uri>
		<taglib-location>/WEB-INF/c-rt.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
		<taglib-location>/WEB-INF/fmt.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://java.sun.com/jstl/fmt_rt</taglib-uri>
		<taglib-location>/WEB-INF/fmt-rt.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://java.sun.com/jstl/xml</taglib-uri>
		<taglib-location>/WEB-INF/x.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://java.sun.com/jstl/xml_rt</taglib-uri>
		<taglib-location>/WEB-INF/x-rt.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://jakarta.apache.org/struts/tags-bean</taglib-uri>
		<taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://jakarta.apache.org/struts/tags-html</taglib-uri>
		<taglib-location>/WEB-INF/struts-html.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://jakarta.apache.org/struts/tags-logic</taglib-uri>
		<taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://jakarta.apache.org/struts/tags-nested</taglib-uri>
		<taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://jakarta.apache.org/struts/tags-template</taglib-uri>
		<taglib-location>/WEB-INF/struts-template.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://jakarta.apache.org/struts/tags-tiles</taglib-uri>
		<taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://jakarta.apache.org/taglibs/string-1.0.1</taglib-uri>
		<taglib-location>/WEB-INF/taglibs-string.tld</taglib-location>
	</taglib>
	<resource-ref id="ResourceRef_1089887274831">
		<res-ref-name>url/log4j</res-ref-name>
		<res-type>java.net.URL</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<resource-ref id="ResourceRef_1434639737327">
		<description></description>
		<res-ref-name>jms/TestConnection</res-ref-name>
		<res-type>javax.jms.QueueConnectionFactory</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<resource-ref id="ResourceRef_1435745824353">
		<description></description>
		<res-ref-name>jms/TestQueue</res-ref-name>
		<res-type>javax.jms.Queue</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>(New Web Resource Collection)</web-resource-name>
			<description></description>
			<url-pattern>/sms</url-pattern>
			<url-pattern>/sms/*</url-pattern>
			<http-method>
			GET</http-method>
			<http-method>
			PUT</http-method>
			<http-method>
			HEAD</http-method>
			<http-method>
			TRACE</http-method>
			<http-method>
			POST</http-method>
			<http-method>
			DELETE</http-method>
			<http-method>
			OPTIONS</http-method>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>email collections</web-resource-name>
			<description></description>
			<url-pattern>/email</url-pattern>
			<url-pattern>
			/email/*</url-pattern>
			<http-method>
			GET</http-method>
			<http-method>
			PUT</http-method>
			<http-method>
			HEAD</http-method>
			<http-method>
			TRACE</http-method>
			<http-method>
			POST</http-method>
			<http-method>
			DELETE</http-method>
			<http-method>
			OPTIONS</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>SendSms</role-name>
			<role-name>SendEmail</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
	<security-role>
		<description></description>
		<role-name>SendSms</role-name>
	</security-role>
	<security-role>
		<description></description>
		<role-name>SendEmail</role-name>
	</security-role>
	<ejb-local-ref id="EJBLocalRef_1295366478956">
		<ejb-ref-name>ejb/XasSendsms</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>it.usi.xframe.xas.bfintf.XasSendsmsLocalHome</local-home>
		<local>it.usi.xframe.xas.bfintf.XasSendsmsLocal</local>
		<ejb-link>XA-XAS-BF.jar#XasSendsms</ejb-link>
	</ejb-local-ref>
	<ejb-local-ref id="EJBLocalRef_1327587150820">
		<ejb-ref-name>ejb/XasTest</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>it.usi.xframe.xas.bfintf.XasTestLocalHome</local-home>
		<local>it.usi.xframe.xas.bfintf.XasTestLocal</local>
		<ejb-link>XA-XAS-BF.jar#XasTest</ejb-link>
	</ejb-local-ref>
	<ejb-local-ref id="EJBLocalRef_1358508346281">
		<ejb-ref-name>ejb/XasEmail</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>it.usi.xframe.xas.bfintf.XasEmailLocalHome</local-home>
		<local>it.usi.xframe.xas.bfintf.XasEmailLocal</local>
		<ejb-link>XA-XAS-BF.jar#XasEmail</ejb-link>
	</ejb-local-ref>
</web-app>
	
