<!--header.start-->
	<div class="" hidden>
		<div class="row">
			<div id="loading">
	           	<ul class="bokeh">
	                   <li></li>
	                   <li></li>
	                   <li></li>
	               </ul>
	           </div>
		</div>
	</div>
	<!-- added for spinner -->
	<div class="" hidden>
		<div class="" data-backdrop="static" data-keyboard="false" tabindex="-1">
		    <div class="">
		        <div class="" style="width: 48px">
		            <span class="fa fa-spinner fa-spin fa-3x"></span>
		        </div>
		    </div>
		</div>
	</div>
<!--header.end-->
<!--footer.start-->
<!--footer.end-->
