<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp">
	<display-name>XA-XAS-WS</display-name>
	<filter>
		<filter-name>it.usi.xframe.system.pfutil.tools.WsdlFilter</filter-name>
		<display-name>it.usi.xframe.system.pfutil.tools.WsdlFilter</display-name>
		<filter-class>it.usi.xframe.system.pfutil.tools.WsdlFilter</filter-class>
	</filter>
	<filter>
		<filter-name>InboundWSSEFilter</filter-name>
		<display-name>InboundWSSEFilter</display-name>
		<description></description>
		<filter-class>it.usi.xframe.xas.wsutil.filter.InboundWSSEFilter</filter-class>
		<init-param>
			<param-name>fromUT</param-name>
			<param-value>2004</param-value>
			<description></description>
		</init-param>
		<init-param>
			<param-name>newUT</param-name>
			<param-value>2003</param-value>
			<description></description>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>it.usi.xframe.system.pfutil.tools.WsdlFilter</filter-name>
		<url-pattern>*.wsdl</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>InboundWSSEFilter</filter-name>
		<url-pattern>/services/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>it_usi_xframe_xas_wsutil_SendSms</servlet-name>
		<servlet-class>it.usi.xframe.xas.wsutil.SendSms</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>it_usi_xframe_xas_wsutil_SendSms2</servlet-name>
		<servlet-class>it.usi.xframe.xas.wsutil.SendSms2</servlet-class>
		<load-on-startup>1</load-on-startup>
		<security-role-ref>
			<description></description>
			<role-name>SendSms</role-name>
			<role-link>SendSms</role-link>
		</security-role-ref>
	</servlet>
	<servlet>
		<servlet-name>it_usi_xframe_xas_rest_SendSms</servlet-name>
		<servlet-class>it.usi.xframe.xas.rest.SendSms</servlet-class>
		<load-on-startup>1</load-on-startup>
		<security-role-ref>
			<description></description>
			<role-name>SendSms</role-name>
			<role-link>SendSms</role-link>
		</security-role-ref>
	</servlet>
	<servlet>
		<servlet-name>it_usi_xframe_xas_wsutil_SendEmail</servlet-name>
		<servlet-class>it.usi.xframe.xas.wsutil.SendEmail</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>it_usi_xframe_xas_wsutil_PgeTokenSendEmail</servlet-name>
		<servlet-class>it.usi.xframe.xas.wsutil.PgeTokenSendEmail</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>it_usi_xframe_xas_wsutil_PgeTokenSendSms</servlet-name>
		<servlet-class>it.usi.xframe.xas.wsutil.PgeTokenSendSms</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>it_usi_xframe_xas_wsutil_PgeTokenSendSms2</servlet-name>
		<servlet-class>it.usi.xframe.xas.wsutil.PgeTokenSendSms2</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>it_usi_xframe_xas_wsutil_XasNotification</servlet-name>
		<servlet-class>it.usi.xframe.xas.wsutil.XasNotification</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>it_eng_service_mgp_sms_SmsNotificationServiceSoapBindingImpl</servlet-name>
		<servlet-class>it.eng.service.mgp.sms.SmsNotificationServiceSoapBindingImpl</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>SoapSmppGW_GWServiceSoapBindingImpl</servlet-name>
		<servlet-class>SoapSmppGW.GWServiceSoapBindingImpl</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>it_usi_xframe_xas_wsutil_SendSms</servlet-name>
		<url-pattern>services/SendSms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>it_usi_xframe_xas_wsutil_SendSms2</servlet-name>
		<url-pattern>services/SendSms2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>it_usi_xframe_xas_rest_SendSms</servlet-name>
		<url-pattern>rest/Sms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>it_usi_xframe_xas_wsutil_SendEmail</servlet-name>
		<url-pattern>services/SendEmail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>it_usi_xframe_xas_wsutil_PgeTokenSendEmail</servlet-name>
		<url-pattern>services/PgeTokenSendEmail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>it_usi_xframe_xas_wsutil_PgeTokenSendSms</servlet-name>
		<url-pattern>services/PgeTokenSendSms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>it_usi_xframe_xas_wsutil_PgeTokenSendSms2</servlet-name>
		<url-pattern>services/PgeTokenSendSms2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>it_usi_xframe_xas_wsutil_XasNotification</servlet-name>
		<url-pattern>services/XasNotification</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>it_eng_service_mgp_sms_SmsNotificationServiceSoapBindingImpl</servlet-name>
		<url-pattern>services/SmsNotification</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SoapSmppGW_GWServiceSoapBindingImpl</servlet-name>
		<url-pattern>services/GWService</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<display-name>RestConstraints</display-name>
		<web-resource-collection>
			<web-resource-name>Sms</web-resource-name>
			<description></description>
			<url-pattern>/rest/*</url-pattern>
			<url-pattern>rest/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>PUT</http-method>
			<http-method>HEAD</http-method>
			<http-method>TRACE</http-method>
			<http-method>POST</http-method>
			<http-method>DELETE</http-method>
			<http-method>OPTIONS</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>SendSms</description>
			<role-name>SendSms</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
	<security-role>
		<role-name>SendSms</role-name>
	</security-role>
	<security-role>
		<role-name>SendEmail</role-name>
	</security-role>
	<ejb-local-ref id="EJBLocalRef_1237387817674">
		<ejb-ref-name>ejb/XasEmail</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>it.usi.xframe.xas.bfintf.XasEmailLocalHome</local-home>
		<local>it.usi.xframe.xas.bfintf.XasEmailLocal</local>
	</ejb-local-ref>
	<ejb-local-ref id="EJBLocalRef_1266494122640">
		<ejb-ref-name>ejb/XasSecurity</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>it.usi.xframe.xas.bfintf.XasSecurityLocalHome</local-home>
		<local>it.usi.xframe.xas.bfintf.XasSecurityLocal</local>
		<ejb-link>XA-XAS-BF.jar#XasSecurity</ejb-link>
	</ejb-local-ref>
	<ejb-local-ref id="EJBLocalRef_1295952756101">
		<ejb-ref-name>ejb/XasSendsms</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>it.usi.xframe.xas.bfintf.XasSendsmsLocalHome</local-home>
		<local>it.usi.xframe.xas.bfintf.XasSendsmsLocal</local>
		<ejb-link>XA-XAS-BF.jar#XasSendsms</ejb-link>
	</ejb-local-ref>
</web-app>
